[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
botbuilder-integration-aiohttp = ">=4.10.1"
botbuilder-dialogs = ">=4.10.1"
http-noah = {extras = ["async"],version = "==0.1.10"}
structlog = "==20.1.0"
recognizers-text = "==1.0.2a2"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
